<!-- <form class="entry-form" [formGroup]="registerForm" (ngSubmit)="doSubmit()">
    <h4>注册</h4>

    <div class="formContrl">
        <label>用户名：</label>
        <input type="text" formControlName="userAccount" />
    </div>

    <div class="formContrl-msg" [hidden]="!registerForm.get('userAccount').invalid"> 必填 </div>

    <div class="formContrl">
        <label>密码： </label>
        <input type="password" formControlName="userPassword" />
    </div>

    <div class="formContrl-msg" [hidden]="!registerForm.get('userPassword').invalid">必填密码</div>

    <div class="formContrl-btn">
        <button type="submit" [disabled]="registerForm.invalid"> 提交</button>
        <button type="reset">重置</button>
    </div>

    <p class="hint">已有账号？<a [routerLink]="['/login']">立即登录</a> </p>
</form> -->


<div class="row">
    <div class="col-md-12">
        <form> <input type="text" name="username" placeholder="撒比" /> </form>
    </div>
</div>